# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
terraform.tfvars
*.auto.tfvars

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
node_modules/
npm-debug.log*